body {
    font-family: "comic sans ms",cursive,sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}

header {
    background-color: rgb(171, 211, 245,0.9);
    color: #0057a3;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1)
    width: 1000px;
    height: 75px;
}

h1 {
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    gap: 1rem;
    align-items: center;
}

.photo-card {
    background-color: rgb(101, 235, 168,0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.2);
    width: 300px;
    transition: transform 0.3s;
    align-items: center;
}

.ganesh-ji {
    background-color: rgba(238, 225, 113, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.2);
    width: 300px;
    transition: transform 0.3s;
    align-items: center;
}

.photo-card:hover {
    transform: scale(1.05);
    align-items: center;
}

.photo-card img {
    width: 100%;
    height: 400px;
    display: block;
    row-gap: 2rem;
    align-items: center;
}

.caption {
    padding: 1 rem;
    font-size: 0.9rem;
    color: #333;
}

footer {
    background-color:rgba(133,98,87,0.8);
    color: white;
    padding: 1em 0;
    margin-top: 2em;

}

